/.DS_Store
bin/*
/.classpath
/.project
.gradle/*
build/*
target/*
**/.DS_Store
**/.settings

.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf
.idea/**/dictionaries
.idea/**/*.iml
.idea/**/*.iws
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries